
<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 side mt-2">
                <!-- this is for the side bar component -->
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 main mt-2">
                <!-- this is for the main component -->
                <app-main></app-main>
            </div>
        </div>
    </div>
</div>




<router-outlet></router-outlet>
